body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #050505;
    font-size: 1.2rem;
    line-height: 1.8em;
    margin: 0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;

}


p {
    margin-bottom: 1.6em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}


.header{
    background-color: #031218;
    color: white;
    padding: 1rem 0;
    
}


.body {
    background-image: url('/images/fondo-campo1.jpg');
    background-size: cover; /* para cubrir todo el fondo */
    background-repeat: no-repeat; /* para que la imagen no se repita */
    /*Por ahora no se va a colocar esta imagen*/
    background-color: rgb(53, 36, 110);
  }
  



.header a {
    color: white;
    text-decoration: none;
}

.main {

    background-color: rgb(53, 36, 110);
    text-align: center;
    
}



.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.3em;
    
    
}

.navigation ul {
margin: 0;
padding: 0;
list-style: none;
}

.navigation li {
display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background-color: rgb(100, 100, 123);
}

.footer {
    background-color: #063746;
    padding: 4rem 0;
    margin-top: 6rem;
    text-align: center;
    margin-top: 6rem;
    color: white;
}


/* Estilo del formulario*/

.formulario-registro {

width: 400px;
background-color: rgb(49, 38, 132);
padding: 30px;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
border-radius: 4px;
font-family: 'calibri';
}

.formulario-registro h3 {
font-size: 35px;
margin-bottom: 20px;
}

.controls{

    width: 100%;
    background-color: #031218;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #031218;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
    

}

.formulario-registro p {

height: 40px;
text-align: center;
font-size: 18px;

}

.formulario-registro-boton {

    width: 100%;
    background-color: #031218;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #031218;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
    

}

.formulario-registro-boton:hover {

color: white;
text-decoration: underline;


}

/*css de la tabla enlaces-imagenes*/

css tabla 

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.img {
  max-width: 100%;
  height: auto;
}

.a {
  color: #333;
  text-decoration: none;
}
